body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.digits {
  width:100%;
  text-align: center;
  margin-bottom: 30px;
}

.digit {
  width:50px;
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}